<html>
<head>
<title>Ticket Information</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container" style="margin-top: 200px">
<h2>Add Ticket Details</h2>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <div class="alert alert-primary" role="alert">
      {{ message }}
    </div>
  {% endfor %}
</ul>
{% endif %}
<form method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Passenger Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputName">Passenger Name</label>
    <input type="text" class="form-control" id="pass_name" name="pass_name" placeholder="Passenger Name">
  </div>
  <div class="form-group">
     <label for="exampleNumber">Contact</label>
     <input type="text" class="form-control" id="pass_mobile" name="pass_mobile" placeholder="Contact">
  </div>
  <div class="form-group">
    <label for="Passengeradd">Address</label>
    <textarea id="pass_address" name="pass_address" rows="4" cols="50"></textarea>
 </div>
 <div class="form-group">
  <label for="exampleNumber">Upload Aadhar Image</label>
  <input type="image" class="form-control" id="aadhar" name="aadhar" placeholder="Enter aadhar image">
</div>
<div class="form-group">
  <label for="Gender">Gender</label>
  <br>
  <input type="radio" class="form-control" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" class="form-control" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
  <input type="radio" class="form-control" id="other" name="gender" value="other">
  <label for="other">Other</label>
</div>
<div class="form-group">
  <input type="checkbox" class="form-control" id="foodreqd" name="foodreqd" value="Bike">
  <label for="Food">Food Required in train</label>
</div>
<div class="form-group">
  <input type="checkbox" class="form-control" id="railwaypasscon" name="railwaypasscon" value="Bike">
  <label for="Railwaypass">Railway Pass Concession required.</label>
</div>
<div class="form-group">
  <label id="question" for="Class">All Classes</label>
  <select name="dest" id="dest">
      <option selected="true" disabled="disabled">--All Classes--</option>
      <option value="ec">Exec. Chair Car</option>
      <option value="2a">AC 2 Tier</option>
      <option value="fc">First Class</option>
      <option value="3a">AC 3 Tier</option>
      <option value="3e">AC 3 Economy</option>
      <option value="cc">Chair Car</option>
      <option value="sl">Sleeper</option>
      <option value="2s">Second Sitting</option>
  </select>
</div>
<div class="form-group">
  <label id="number-label" for="weight">Baggage weight </label>
  <input type="number" id="bag_weight" name="bag_weight" placeholder="Please enter weight">
</div>
<div class="form-group">
  <label for="dateofdeparture">Date of Departure:</label>
  <input type="date" id="dateofdeparture" name="dateofdeparture">
</div>
 <button type="submit" class="btn btn-primary">Book Ticket</button>
 </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384 JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>